.bg{
	background-image: url(bgg.jpg);
}

.im{
	width: 150px;
	height: 100px;
	margin-left : 10px;
	display: inline-block;
	box-shadow: 3px 3px 10px #000000;
	webkit-box-shadow: 3px 3px 29px #000000;
}

#content {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}
